@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;700&family=PT+Mono&display=swap')

$headline-font: 'EB Garamond', serif

$mobile: 400px

.nav
    position: relative
    &__list
        display: flex
        position: fixed
        top: 0
        height: 100%
        width: 100%
        list-style: none
    &__item
        height: 100%
        width: 60px
        will-change: auto
        position: relative
        transition: width .5s ease-in-out
        &--open
            width: calc(100vw - 180px)
            .nav__headline, .nav__text, .nav__anchor
                opacity: 0
                will-change: auto
                transition: opacity .2s
        &:nth-child(1)
            background-color: #fff
            animation: navStartAnimation .8s ease-in-out
        &:nth-child(2)
            background-color: #5ea3ec
            animation: navStartAnimation .7s ease-in-out
        &:nth-child(3)
            background-color: #f64444
            animation: navStartAnimation .6s ease-in-out
        &:nth-child(4)
            background-color: #ffb400
            animation: navStartAnimation .5s ease-in-out
            text-align: center
    &__anchor, &__headline, &__text
        will-change: auto
        transition: opacity 1s
    &__anchor
        display: inline-block
        width: 100%
        height: 100%
        padding-top: 4rem
        font-family: $headline-font
        font-size: 1.4rem
        letter-spacing: 2px
        color: black
        text-align: center
        &:visited
            color: black
    &__icon, &__text
        display: block
        position: absolute
        transform-origin: center
        left: 50%
    &__icon
        top: 9%
        transform: translateY(-50%) translateX(-50%)
        width: 2rem
    &__text
        transform: translateY(-50%) translateX(-50%) rotate(90deg)
        top: 50%
    &__homeIconAnchor
        width: 3rem
        height: 3.5rem
        position: fixed
        top: 7%
        left: 6px
        will-change: width, auto
        transition: margin .5s, width .5s
        z-index: 5
        background: url("/src/assets/icons/homeIcon.svg") top left no-repeat
        background-size: 100%
        animation: homeIconStartAnimation .9s ease-in-out
        &--open
            width: 3.5rem
            margin-left: 4rem
            left: 0
            will-change: width, auto
            transition: margin .5s, width .5s
    @media screen and ( max-width: $mobile )
        width: 100vw
        transform: translate(100%, 0)
        &__list
            top: 0
            display: flex
            flex-wrap: wrap
        &__item
            width: 50vw
            height: 25em
            position: relative
            &--open
                transform: scale(3)
                transition: .5s
                z-index: 5
                .nav__headline, .nav__text, .nav__anchor
                    opacity: 1
                    will-change: auto
                    transition: opacity .2s
            &:nth-child(1)
                animation: navStartAnimation .8s ease-in-out
                .nav__anchor > .nav__text
                    transform: rotate(-125deg)
            &:nth-child(2)
                animation: navStartAnimation .7s ease-in-out
                .nav__anchor > .nav__text
                    transform: rotate(-45deg)
            &:nth-child(3)
                animation: navStartAnimation .6s ease-in-out
                .nav__anchor > .nav__text
                    transform: rotate(-45deg)
            &:nth-child(4)
                animation: navStartAnimation .5s ease-in-out
                text-align: center
                .nav__anchor > .nav__text
                    transform: rotate(-125deg)
        &__homeIconAnchor, &__icon
            display: none

@media screen and ( max-width: $mobile )
    header
        position: relative
        height: 0
        z-index: 3

@media screen and ( max-width: $mobile )
    .hamburger
        margin-top: 1rem
        display: block
        position: absolute
        top: 2em
        right: 2em
        width: 3em
        height: 2em
        z-index: 4
        &__slice
            display: block
            position: absolute
            left: 0px
            width: 45px
            height: 4px
            border-radius: 3px
            background-color: #f8982b
            transition: transform .2s
            &:nth-child(1)
                top: 1px
            &:nth-child(2)
                top: 10px
            &:nth-child(3)
                top: 20px


#hamburger
    display: none

#hamburger:checked + .hamburger .hamburger__slice:nth-child(1)
   transform: translateY(9.5px) rotate(-45deg)

#hamburger:checked + .hamburger .hamburger__slice:nth-child(2)
   opacity:0

#hamburger:checked + .hamburger .hamburger__slice:nth-child(3)
   transform: translateY(-9.5px) rotate(45deg)
            

@keyframes navStartAnimation
    0%
        height: 0%
    100%
        height: 100%

@keyframes homeIconStartAnimation
    0%
        transform: translateY(-100%)
        opacity: 0
    50%
        transform: translateY(-100%)
        opacity: 0
    100%
        transform: translateY(0)
        opacity: 1
