*
    box-sizing: border-box
    margin: 0
    padding: 0

body
    background-color: white
    position: relative

main
    position: relative
    overflow-y: auto
    overflow-x: hidden

.navContainer
    display: flex
    position: fixed
    top: 0
    height: 100%
    width: 100%
    overflow: hidden

.navLink
    padding-top: 1rem
    height: 100%
    width: 60px
    will-change: width
    position: relative
    overflow: hidden
    transition: width .5s ease-in-out
    &:nth-child(1)
        background-color: white
        border: 0px solid black
        animation: navStartAnimation .6s linear
        p, span
            opacity: 0
    &:nth-child(2)
        background-color: #5ea3ec
        animation: navStartAnimation .5s linear
    &:nth-child(3)
        background-color: #f64444
        animation: navStartAnimation .4s linear
    &:nth-child(4)
        background-color: #ffb400
        animation: navStartAnimation .3s linear
        text-align: center
    span
        display: block
        position: relative
        transform: rotate(90deg)
        top: 50%
        left: 0

.open
    width: calc(100vw - 180px)

.landing
    position: relative
    width: calc(100vw - 180px)
    display: grid
    place-content: center
    height: 100vh
    color: black

.foodmain
    background-color: #5ea3ec

@keyframes navStartAnimation 
    from
        transform: translateY(-100%)
    to
        transform: translateY(0)
